.root {
  padding-left: 16px;
}

.content {
  display: flex;
}

.text-field {
  margin-left: 16px;
}

.text-field:first-child {
  margin-left: 0px;
}

.button-wrap {
  margin-left: 16px;
  margin-top: auto;
  margin-bottom: 7px;
  /*margin-bottom: auto;*/
}